/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Global Styles */
:root {
  /* Dark Mode */
  --dark-bg: #051f34;
  --dark-main-bg: #011627;
  --dark-text: #F7F7FF;
  --dark-search-btn: invert(92%) sepia(5%) saturate(8%) hue-rotate(50deg) brightness(92%) contrast(87%);
  --dark-article-bg: #2b3945;
  --dark-faded-text: #b0b0b0;
  --dark-theme-toggle: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

  /* Light Mode */
  --light-bg: #f4f4f4;
  --light-main-bg: #fff;
  --light-text: #333;
  --light-search-btn: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  --light-article-bg: #fff;
  --light-faded-text: #b0b0b0;
  --light-theme-toggle: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

body.light-theme {
  --bg: var(--light-bg);
  --main-bg: var(--light-main-bg);
  --text: var(--light-text);
  --search-btn: var(--light-search-btn);
  --article-bg: var(--light-article-bg);
  --faded-text: var(--light-faded-text);
  --theme-toggle: var(--light-theme-toggle);
}

body:not(.light-theme) {
  --bg: var(--dark-bg);
  --main-bg: var(--dark-main-bg);
  --text: var(--dark-text);
  --search-btn: var(--dark-search-btn);
  --article-bg: var(--dark-article-bg);
  --faded-text: var(--dark-faded-text);
  --theme-toggle: var(--dark-theme-toggle);
}

/* Reset */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Main Layout */
body, header, main, footer {
  transition: background-color 0.3s ease;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    color: var(--text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg);
    height: 7%;
}

main {
  height: 86%;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg);
  color: --;
  height: 7%;
}

/* Header Styles */
#logo-wrap {
    display: flex;
    width: 20%;
    gap: 3rem;
}

#logo {
    font-size: 2rem;
    font-weight: 700;
}

#theme-toggle {
  width: 50px;
  filter: var(--theme-toggle);
  transition: filter 0.3s ease;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

li {
    font-size: 1.2rem;
}

li, #logo, #search-btn  {
    cursor: pointer;
}

#search {
    display: flex;
    gap: 1rem;
    width: 20%;  
}

input {
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#search-btn {
    width: 27px;
    filter: var(--search-btn);
}

/* Body Styles */
#news-heading {
    font-size: 2.2rem;
    padding: 1rem;
    display: block;
    white-space: nowrap;
}

#news-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    gap: 1rem ;
}

.article {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--article-bg);
  overflow: scroll;
  width: 300px;
  height:fit-content;
  margin: 1rem;
}

.article-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.article img {
  width: 268px;
  height: 250px;
  object-fit: cover;
  border: var(--article-bg) solid 1px;
  padding: 10px;
}

.article-desc {
  padding-bottom: 5px;
}

.article-author, .article-date {
  font-size: 0.9rem;
  color: var(--faded-text);
}

/* Animation */
@keyframes expanding-border {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}

.category-border {
  border-bottom: var(--text) 1px solid;
  animation: expanding-border 1s forwards;
}

.nav-btn::after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 0%; /* Change this to whatever width you want. */
  border-bottom: var(--text) 1px solid;
  transition: .5s;
}

.nav-btn:hover::after {
  width: 100%;
}

.nav-btn-active::after {
  width: 100%;
}